* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(36, 36, 36);
}

/* CABEÇALHO */

a {
    color: inherit;
    text-decoration: none; 
  }
  
  a:visited {
    color: inherit;
  }
  
  a:hover {
    color: inherit;
  }
  
  a:active {
    color: inherit;
  }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 560px;
    background-color: #6f0000;
    color: white;
    padding: 20px;
}

header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

menu {
    display: flex;
}

menu li {
    list-style: none;
    margin-left: 10px;
    padding: 10px;
    background-color: #8b0303;
}

.pesquisa{
    border: 0;
}

/* BARRA LATERAL + CORPO */

section {
    display: flex;
}

/* BARRA LATERAL */

nav {
    display: inline-block;
    flex-wrap: wrap;
    width: 17%;
    min-width: 250px;
    background-color: #8b0303;
    color: white;
}

.titulos {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}

nav article p {
    display: flex;
    color: rgba(244, 240, 240, 0.885);
    width: 200px;
}

nav article{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    padding: 20px;
}

/* CORPO */

main{
    flex-wrap: wrap;
    width: 80%;
    min-width: 200px;
    color: white;
}

.categorias {
    padding: 30px;
    border: 0;
}

.banner {
    display: block;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

.introducao {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    width: 60%;
    text-align: justify;
    color: rgba(242, 234, 234, 0.475);
}

.favoritar {
    border: 0;
}

.titulos2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding: 30px;
}

.sessao1 {
    display: flex;
    flex-wrap: wrap;
}

.titulos3 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 30px;
}

.sessao2 {
    display: flex;
    flex-wrap: wrap;
}

.sessao3 {
    display: flex;
    flex-wrap: wrap;
}

.sessao4 {
    display: flex;
    flex-wrap: wrap;
}

main article{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    padding: 50px;
}

article h3 {
    padding-top: 10px;
    padding-bottom: 5px;    
}

main article p {
    color: rgba(242, 234, 234, 0.475);
    width: 200px;
}

/* RODAPÉ */

footer {
    display: flex;
    flex-wrap: wrap;
    min-width: 560px;
    padding: 20px;
    align-items: center;
    color: white;
    background-color: #6f0000;
}

footer p {
    padding: 10px;
    color: white;
    font-weight: bolder;
}

footer ul {
    display: flex;
}

footer li {
    list-style: none;
    margin-left: 10px;
    padding: 10px;
    background-color: #6f0000;
    color: white;
}

/* PÁGINA FILMES */

.artigo-escolhido{
    display: flex;
    padding: 20px;
    width: 70%;
    color: rgba(242, 234, 234, 0.475);
}

.sinopse {
    display: flex;
    padding: 10px;
}

/* PÁGINA LOGIN */

.login {
    border: 0;
}

/* RESOLUÇÕES ESPECÍFICAS */

@media screen and (max-width:608px) {
    nav {
        display: none;
    }

    header {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        min-width: 100%;
        background-color: #6f0000;
        color: white;
        padding: 20px;
    }

    header h1 {
        display: block;
        padding-bottom: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
    }

        
    menu li {
        list-style: none;
        margin-left: 0px;
        padding: 5px;
        background-color: #8b0303;
    }

    .pesquisa{
        display: flex;
        border: 0;
        padding-bottom: 20px;
    }

    .introducao {
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
        width: 100%;
        text-align: justify;
        font-size: larger;
        color: rgba(242, 234, 234, 0.475);
    }

    p {
        font-size: larger;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        padding: 20px;
        align-items: center;
        color: white;
        background-color: #6f0000;
    }
    
    footer p {
        padding: 10px;
        color: white;
        font-weight: bolder;
    }
    
    footer ul {
        display: block;
    }
    
    footer li {
        list-style: none;
        margin-left: 10px;
        padding: 10px;
        background-color: #6f0000;
        color: white;
    }
}

@media screen and (min-width: 609px)and (max-width:1100px) {
    header {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        min-width: 560px;
        background-color: #6f0000;
        color: white;
        padding: 20px;
    }
    
    header h1 {
        display: block;
        padding-bottom: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
    }
    
    menu li {
        list-style: none;
        margin-left: 10px;
        padding: 10px;
        background-color: #8b0303;
    }
    
    .pesquisa{
        display: flex;
        border: 0;
        padding-bottom: 20px;
    }

    .introducao {
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
        width: 80%;
        text-align: justify;
        color: rgba(242, 234, 234, 0.475);
    }
}
